
<%- include('partials/header') %>
<%- include('partials/navbar') %> 
    <link rel="stylesheet" href="css/display.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    
    <div  class="container-fluid">
        <div class="row ">
        <% for(let i=0 ; i<variable.length ; i++) { %> 
            
           <div class="card-outer col-lg-4 col-md-6 col-sm-12 card-deck" >
            
            <div class="card " style="width: 100%; " >
              <img class="card-img-top" src="./uploads/<%= variable[i].img %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="text-transform: uppercase;"><%= variable[i].nop %></h5>
                <p class="card-text">
                    
                 <p> 
                <b>Description:</b><%= variable[i].dop.substring(0,100) + "...." %>               
                    
                 </p> <br>
                <b> Contact-no:</b><%= variable[i].pno %> <br>            
              <b> email:</b> <%= variable[i].email %> <br>
              </p>
                <a href="<%=variable[i].walink  %> " class="btn btn-primary green">Contact</a>
                <a href="/product/<%= variable[i]._id %>  " class="btn btn-primary black">View Product</a>
              </div>
            </div> 
        </div>
        
            <% }  %>
            
         
        </div> 
      </div>  
      
      


     
    
</body>
</html>