<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include('partials/header') %>
<%- include('partials/navbar') %> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
<div class="container">
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <img src="/uploads/<%= img %> " alt="..." >
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title" style=" text-transform : uppercase; margin-bottom: 20px;"><%= nop %> </h5>
          <p class="card-text" style="margin-bottom:20px;"><%= dop %> </p>
          <br>
          <p class="card-text"   style="margin-bottom:20px;"><h5>CONTACT NUMBER: <%= pno %> </h5></p>
          <a href="<%= walink %> " class="btn btn-primary">CONTACT</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/image.js"></script>

